body {
	background: #010101;
	
	margin: 0;

	padding: 0;

	font-family: "Roboto", Georgia, sans-serif;
	color: #f0f0f0;
	line-height: 1em;
	font-size: 1em;
}

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
}

header {
	margin: auto;
	text-align: center;
	background: blue;
	padding: 1em 0 1em 0;
}

* {
	box-sizing: border-box;
}

.slider {
	max-width: 500px;
	max-height: 300;
	position: relative;
	margin: auto;
	display: block;
}

.project {
	display: none;
}

img {
	vertical-align: middle;
	width: 100%;
	display: block;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size 18px;
}

.prev:hover, .next:hover {
	color: red;
}

.dot.active {
	background: blue; 
}

.dot:hover {
	background: red;
}

.next {
	right: 0;
	padding: 16px;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background: #bbb;
	display: inline-block;
	text-align: center;
}
