body {
	font-family: "Roboto", Georgia, sans-serif;
	font-size: 100%;
	background: white;
	color: black;
	overflow: scroll;
}

mark.title {
	color: blue;
	background: none;
}

p {
	font-size: 1em;
	padding: 0 0.5em 0 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0 0.5em 0 0.5em;
}

h3 {
	line-height: 0.5;
}

p.funny_foot_note {
	font-size: 0.8em;
}

a.page {
	font-weight: bold;
}

header {
	padding: 0.2em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: 0.2em solid black;
	width: 75%;
	height: 50%;
	position: center;
	text-align: center;
	box-shadow: 2.5px 5px;
	/*border-radius: 10px;*/
}

nav {
	padding: 0.2em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	background: white;
	border: 0.2em solid black;
	width: 75%;
	height: 50%;
	position: -webkit-sticky; /*For those Safari Heathens*/
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 2.5px 5px;
	/*border-radius: 10px;*/
}

nav a {
	display: block;
	color: black;
	width: 3.75em;
	text-align: center;
	padding: 0.5em;
	margin: 0.2em;
	text-decoration: none;
	border-right: 0.1em solid black;
	flex-grow: 1;
	box-shadow: 1px 2px;
	/*border-radius: 5px;*/
}

nav a.about {
	border: 0.05em solid black;
}

nav a.links {
	border: 0.05em solid black;
}

nav a.home {
	border: 0.05em solid black;
}

nav a.active {
	border: 0.05em solid blue;
	color: blue;
}

nav a:hover {
	border: 0.05em solid blue;
	color: blue;
	box-shadow: none;
}

main {
	padding: 0.2em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: 0.2em solid black;
	width: 75%;
	height: 50%;
	box-shadow: 2.5px 5px;
	/*border-radius: 10px;*/
}

section {
	padding: 0.2em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: 0.2em solid black;
	width: 75%;
	height: 50%;
	box-shadow: 2.5px 5px;
	/*border-radius: 10px;*/
}

figure {
	display: block;
	padding: 0.2em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: 0.2em solid black;
	width: 75%;
	height: 50%;
	box-shadow: 2.5px 5px;
	/*border-radius: 10px;*/
}

img.meme {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 75%;
	border: 0.2em solid black;
	background: black;
	box-shadow: 2px 5px blue;
	/*border-radius: 5px;*/
}

img.profile {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	width: 75%;
	border: 0.2em solid black;
	background: black;
	box-shadow: 2px 5px blue;
	/*border-radius: 5px;*/
}

figcaption {
	font-style: italic;
	font-weight: bold;
	position: center;
	text-align: center;
}

footer {
	padding: 0.2em;
	margin: 1em;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	border: 0.2em solid black;
	width: 75%;
	height: 50%;
	box-shadow: 2.5px 5px;
	/*border-radius: 10px;*/
}
